<h1>Attribute Directive</h1>
<h2>ngClass / ngStyle</h2>
<div [ngClass]="{border: true, background:true}"></div>
<div [class.border]="true"></div>
<div [ngStyle]="{'background-color':'red'}"></div>
<hr>
<h2>Custome Attribute Directive</h2>
<span>ng g d highlight</span>

<!--<div highlight [highlightColor]="'blue'" [defaultColor]="'red'"> Some Text</div>-->
<!-- OR share with property binding -->
<div [highlight]="'blue'" [defaultColor]="'red'"> Some Text</div>

<hr>
<h1>Sctructurel Directives</h1>
<h2>*ngIf</h2>
<div *ngIf="switch">Conditional Text</div>
<template [ngIf]="switch">
    <div>
        Conditional Text
    </div>
</template>
<button (click)="onSwitch()">Switch</button>
<hr>
<h2>*ngFor</h2>
<ul>
    <li *ngFor="let item of items; let i = index">{{item}} - (index: {{i}})</li>
</ul>
<hr>
<h2>*ngSwitch</h2>
<div [ngSwitch]="value">
    <p *ngSwitchCase="10">10</p>
    <p *ngSwitchCase="100">100</p>
    <p *ngSwitchDefault>Default</p>
</div>

<div [ngSwitch]="value">
    <template [ngSwitchCase]="10">10</template>
    <template [ngSwitchCase]="100">100</template>
    <template ngSwitchDefault>Default</template>
</div>
<hr>
<h2>Unless Directive</h2>
<p *unless="switch">
    Unless Conditional Text
</p>